{% extends "base.html" %}

{% block content %}

{% block biography %}
<div class="w-full px-4 ">
  <div class="flex w-full xl:flex-row flex-col flex-wrap xl:flex-nowrap justify-end xl:justify-end items-center">
    <div class="w-full xl:w-1/4 xl:left-0 xl:fixed xl:top-20 flex flex-col flex-wrap justify-center">
        {% set image = resize_image(path=config.extra.avatar, format="webp", width=208, height=208) %}
        <img class="object-center w-52 h-52 rounded-full mx-auto" src="{{image.url}}" alt="Profile image"/>
        <h1 class="text-center font-bold text-gray-900 text-3xl py-4">{{ config.title }}</h1>
        
        <div class="w-full flex flex-row flex-wrap py-4 justify-center">
          {% for icon in section.extra.avatar_icons %}
            <div class="basis p-3 ">
              <a href="{{icon.link}}" target="_blank"><i>{{ icons::factory(icon=icon.icon,classes="inline h-12 w-12 flex-no-shrink stroke-blue-600 hover:stroke-blue-800 visited:stroke-purple-600 fill-blue-600 visited:fill-purple-600 hover:fill-blue-800 ") }}</i></a>
            </div>
          {% endfor %}
        </div>

        <div>
          <h2 class="text-center text-md font-medium text-gray-900 ">Contact me at</h2>      
          <h2 class="text-center text-md font-bold text-gray-900">{{ config.extra.email  }}</h2>          
        </div>
        <div class="py-10 text-center ">
          <h1 class="text-center text-md font-medium text-gray-900">Get my CV&nbsp</h1> 
          <div class="flex flex-row justify-center">     
            <a class="underline font-bold text-myblue" href="/cv/CV_eng.pdf" target="_blank" download="Marchiotto_CV_Eng.pdf">
              ENG
            </a>   
            &nbsp&nbsp&nbsp
            <a class="underline font-bold text-myblue" href="/cv/CV_ita.pdf" target="_blank" download="Marchiotto_CV_ITA.pdf">
              ITA
            </a>         
          </div>
        </div>
    </div>
    <div class="w-full xl:w-3/4" >
      <h1 class="font-bold font-sans break-normal text-gray-900 text-3xl xl:text-5xl pb-4">{{trans(key="Biography", lang=lang)}}</h1>
      <p class="prose prose-indigo mx-6">
        {{ section.content | safe }}
      </p>
      
      <!-- EXPERIENCE -->
      <div class="basis-full py-4">
        <h2 class="font-bold font-sans break-normal text-gray-900 text-2xl pb-2">{{trans(key="Experience", lang=lang)}}</h2>
        <ul class="py-1">
          {% for work in section.extra.experience.works %}
          <li class="py-2">
            <div class="flex flex-row flex-wrap">
              <div class="basis-full flex flex-row">
                <i>{{ icons::factory(icon="work",classes="inline h-6 w-6 flex-no-shrink font-bold") }}</i> 
                <p class="px-1 font-bold underline underline-offset-4">
                  {{ work.company }}
                </p> 
              </div>
              <div class="px-7-p">
                <div class="basis-full ">
                  {{work.description}}
                </div>
                <div class="basis-full text-gray-600 italic">
                  {{ work.position }}, {{work.year}}
                </div>
                <div class="flex flex-row flex-wrap">
                  {% for skill in work.skills %}
                  <div class="colored-box">
                    <p>{{skill}}</p>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>

      <!-- EDUCATION -->
      <div class="basis-full py-4">
        <h2 class="font-bold font-sans break-normal text-gray-900 text-2xl pb-2">{{trans(key="Education", lang=lang)}}</h2>
        <ul class="">
          {% for course in section.extra.education.courses %}
          <li class="py-1">
            <div class="flex flex-row flex-wrap">
              <div class="basis-full flex flex-row">
                <i>{{ icons::factory(icon="academic",classes="inline h-6 w-6 flex-no-shrink") }}</i>
                <p class="px-1 font-bold underline underline-offset-4">
                  {{ course.course }}
                </p>  
              </div>
              <div class="px-7-p">
                <div class="basis-full text-gray-600 italic">
                  {{ course.institution }}, {{course.year}}
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      
      
    </div>
  </div>
{% endblock biography %}

{% endblock content-%}
