{% extends "base.html" %}

{% block content %}
<div class="container max-w-8xl mx-auto">

  <div class="font-sans pb-8">
    <h1 class="font-bold font-sans break-normal text-gray-900 pb-2 text-3xl md:text-4xl">{{section.title}}</h1>
  </div>

  <div class="grid lg:grid-cols-6 sm:grid-cols-3 grid-cols-2 md:gap-6 gap-4 ">
    {% for page in section.pages %}
    <a class="post-container w-full flex flex-col shadow-lg hover:shadow-xl " href="{{config.base_url}}/{{page.path}}">
      <div class="post-img-container justify-center text-center">
        {% set image = resize_image(path=page.extra.header_img, format="webp",  width=1080, height=1080, op="scale") %}
        <img class="post-img " src="{{image.url}}" alt="Profile image"/>
        <!-- <img src="{{page.extra.header_img}}" class="post-img" data-placeholder-background="darkgrey"> -->
      </div>
      <div class="post-text font-sans flex flex-col flex-grow justify-between">
        <h1 class="post-title text-xl font-bold py-2">{{ page.title | safe }}</h1>
        <h1 class="post-date font-medium text-md text-black mx-auto">{{ page.date | date(format="%Y/%m/%d") }}</h1>
      </div>
    </a>
    {% endfor %}
  </div>

</div>
{% endblock content %}