/* ./styles/styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

#header {
  background-color: white;
}

.zola-anchor {
  padding-left: 0.5rem;
  opacity: .6;
}

.zola-anchor:hover {
  opacity: 1;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-7-p {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.colored-box {
  background-color: #2563eb; 
  border-radius: 6px; 
  padding-top: 1px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  color: white;
  width:fit-content;
  text-align: center;
  margin-right: 6px;
  font-size: small;
  font-weight: bold;
  margin-top: 6px;
}

.text-myblue {
  --tw-text-opacity: 1;
  color: #2563eb;
}
.posts {
    display: flex;
    flex-direction: row;
}
.post-container {
  width: 90%;
  max-height: 27em;
  min-height: 23em;
  border: 0.1em solid black;
  text-align: center;
  overflow: hidden;
  position: relative;
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  vertical-align: text-bottom;
  /*span {
      display: block;
      font-style: italic;
  }
  h2 {
      // font-family: "Handlee";
      color: $andromeda-light;
      text-transform: uppercase;
  }
  span {
      font-family: "Handlee";
      color: $andromeda-light;
  } */
  
}
.post-text {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
}
.post-img {
  object-fit: cover;
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: brightness(80%);
}
.post-container:hover {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}

a.stretched {
    display: block;
    text-decoration: none;
    margin: 1.2em;
}

.sm\:left-1\/10  {
  left: 10%;
}

.sm\:left-1\/20  {
  left: 5%;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.sm\:centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}