/* ./styles/styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

#header {
  background-color: white;
}

.zola-anchor {
  padding-left: 0.5rem;
  opacity: .6;
}

.zola-anchor:hover {
  opacity: 1;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-7-p {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.colored-box {
  background-color: #2563eb; 
  border-radius: 6px; 
  padding-top: 1px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  color: white;
  width:fit-content;
  text-align: center;
  margin-right: 6px;
  font-size: small;
  font-weight: bold;
  margin-top: 6px;
}

.text-myblue {
  --tw-text-opacity: 1;
  color: #2563eb;
}
.posts {
    display: flex;
    flex-direction: row;
}
.post-container {
  border: 0.1em solid lightgray;
  border-radius: 2%;
}
.post-img-container{
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  overflow: hidden;
  position: relative;
}
.post-text {
  padding: 2%;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  width: 100%;
  text-align: center;
  color: black;
}
.post-img {
  filter: brightness(100%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.post-img:hover {
  scale: 110%;
  border-radius: 2%;
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
}


a.stretched {
    display: block;
    text-decoration: none;
    margin: 1.2em;
}

.sm\:left-1\/10  {
  left: 10%;
}

.sm\:left-1\/20  {
  left: 5%;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.sm\:centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}